*{
    font-family: 'Red Hat Text', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: whitesmoke;
}

.contenu{
    display: flex;
    flex-direction: row;
    padding: 100px  0;
}

main{
    flex: 3;
}

aside {
    flex: 1;
} 

h1 {
    font-size: 40px;
    padding: 20px 74px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 3%;
}

.card p{
    font-weight: 400;
    font-size: 16px;
}

.card h2{
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0;
}

.card-button {
    width: 55%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    position: relative;
    left: 70px;
    bottom: 22px;
    background-color: white;
    cursor: pointer;
    
    /* Flexbox for alignment */
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    gap: 10px; /* Space between icon and text */
}

.card-button svg {
    width: 20px;
    height: 20px;
    background: white;
}

.card-button strong {
    font-size: 14px;
    font-weight: 600;
    background: white;
}

.card-price{
    color: #C73B0F;
}

/* .cart{
    background: white;
} */

